/* common */
/* small screen */

body {
  margin: 0;
  background: rgb(251, 251, 161);
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  height: 100px;
  width: 300px;
  display: block;
  margin: 0 auto;
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 70px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow:1px 1px 0 black, -1px -1px 0 black,
  -1px 1px 0 black, 1px -1px 0 black,
  0px 1px 0 black,  0-1px 0 black,
  -1px 0 0 black, 1px 0 0 black;
  animation: poyoyon2 1s ease-in-out 1 forwards;
}

h1:hover {
  /* color: rgb(239, 166, 255); */
  color: rgb(233, 255, 248); /*文字色*/
  animation: poyoyon2 2s ease-in-out 100000 forwards;
  background:rgb(251, 251, 161);
  cursor: pointer;
}

.container1{
  position: relative;
}

.introduction,
.background,
.matter,
.skill,
.license,
.product {
  /* background: plum; */
  background: white;
  height: 100px;
  width: 300px;
  display: block;
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
  border-radius:20px;
  padding:10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:40px;
  color:white;
  text-shadow:1px 1px 0 black, -1px -1px 0 black,
  -1px 1px 0 black, 1px -1px 0 black,
  0px 1px 0 black,  0-1px 0 black,
  -1px 0 0 black, 1px 0 0 black;
  animation: float_2979 3s linear infinite;
  transform-origin: 50% 50%;
}

.introduction,
.matter,
.license{
  margin-right:30px;
}

.background,
.skill,
.product{
  margin-left:30px; 
}

@keyframes fluffy1 {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-15px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-15px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}


/* @keyframes float_2979 {
  0% { transform: translateY(0) }
  33.33333% { transform: translateY(-6px) }
  66.66667% { transform: translateY(0) }
  100% { transform: translateY(0) }
} */

/* @keyframes poyoyon2 {
  0%  {
    transform: scale(1.0, 1.0) translate(0, 0);
  }
  15% {
    transform: scale(0.98, 0.9) translate(0, 5px);
  }
  30% {
    transform: scale(1.02, 1.0) translate(0, 8px);
  }
  50% {transform: scale(0.98, 1.05) translate(0, -8px);
  }
  70% {
    transform: scale(1.0, 0.9) translate(0, 5px);
  }
  100% {
    transform: scale(1.0, 1.0) translate(0, 0);
  }
  0%, 100% {
    opacity: 1;
  }
} */




#introduction:hover,
#background:hover,
#matter:hover,
#skill:hover,
#license:hover,
#product:hover {
  /* background: #666; 背景色 */
    background:white;
  color: rgb(197, 222, 255); /*文字色*/
  cursor: pointer;
  animation: fluffy1 3s ease infinite;

}

#introduction:hover {
  color: rgb(228, 227, 225); /*文字色*/
}

#background:hover {
  color: rgb(228, 227, 225); /*文字色*/
}

#matter:hover {
  color: rgb(228, 227, 225); /*文字色*/
}

#skill:hover {
  color: rgb(228, 227, 225); /*文字色*/
}

#license:hover {
  color: rgb(228, 227, 225); /*文字色*/
}

#product:hover {
  color: rgb(228, 227, 225); /*文字色*/
}


h4 {
  display: block;
  background: plum;
  width: 160px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}


/***トップへ戻るボタン***/
#page-top {
  display: block;
  font-weight: bold;
  padding: .7em;
  text-align: center;
  background: #fff; /*背景色*/
  color: rgb(178, 178, 178); /*文字色*/
  transition: .3s;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/***マウスオーバー時***/
#page-top:hover {
  background: #666; /*背景色*/
  color: #fff; /*文字色*/
}
/***トップへ戻るボタンここまで***/

#mask {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

}

#introduction_modal,
#background_modal,
#matter_modal,
#skill_modal,
#license_modal,
#product_modal {
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
  flex-direction: column;
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

#introduction_modal > p,
#background_modal > p,
#matter_modal > p,
#skill_modal > p,
#license_modal > p,
#product_modal > p {
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#introduction_modal.hidden,
#background_modal.hidden,
#matter_modal.hidden,
#skill_modal.hidden,
#license_modal.hidden,
#product_modal.hidden {
  transform: translate(0, -1000px)
}

a {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
  text-shadow:1px 1px 0 black, -1px -1px 0 black,
  -1px 1px 0 black, 1px -1px 0 black,
  0px 1px 0 black,  0-1px 0 black,
  -1px 0 0 black, 1px 0 0 black;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}


#introduction_close,
#background_close,
#matter_close,
#skill_close,
#license_close,
#product_close {
  cursor: pointer;
  width: 200px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
  text-shadow:1px 1px 0 black, -1px -1px 0 black,
  -1px 1px 0 black, 1px -1px 0 black,
  0px 1px 0 black,  0-1px 0 black,
  -1px 0 0 black, 1px 0 0 black;
  background: white;
  font-size: 20px;
}


#introduction_modal {
  background:  rgb(249, 248, 246); 
}

#background_modal {
  background: rgb(249, 248, 246); 
}

#matter_modal {
  background: rgb(249, 248, 246) ;
}

#skill_modal {
  background: rgb(249, 248, 246);
}

#license_modal {
  background: rgb(249, 248, 246);
}

#product_modal {
  background: rgb(249, 248, 246);
}


/* midium screen */
@media (min-width: 600px) {


  section {
    margin: 0 auto;
  }

  .container1 {
    display: flex;
  }
  .container2 {
    display: flex;
  }
  .container3 {
    display: flex;
  }

  h4 {
    display: none;
  }

  /***トップへ戻るボタン***/
#page-top {
  display: none;
}
/***マウスオーバー時***/
#page-top:hover {
  display: none;
}
/***トップへ戻るボタンここまで***/

}


/* large screen */
@media (min-width: 800px) {
  section {
    width: 1000px;
    margin: 0 auto;
    display: flex;
  }


  .container1 {
    flex-direction: column;
  }
  .container2 {
    flex-direction: column;
  }
  .container3 {
    flex-direction: column;
  }

  #page-top {
    display: none;
  }
  /***マウスオーバー時***/
  #page-top:hover {
    display: none;
  }

  #introduction_modal,
  #background_modal,
  #matter_modal,
  #skill_modal,
  #license_modal,
  #product_modal {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.4s;
    z-index: 2;
    flex-direction: column;
    color: black;
  }

  #introduction_modal {
    background:  rgb(249, 248, 246); 
  }

  #background_modal {
    background:  rgb(249, 248, 246); 
  }

  #matter_modal {
    background: rgb(249, 248, 246);
  }

  #skill_modal {
    background: rgb(249, 248, 246);
  }

  #license_modal {
    background: rgb(249, 248, 246);
  }

  #product_modal {
    background: rgb(249, 248, 246);
  }


}