<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>PortFolio More</title>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
   <link rel="stylesheet" href="/../static/css/humburger.css">
</head>
<body>
  <header>
    <div class="logo">
      <h1>Product</h1>
    </div>

    <div class="pc-menu">
      <nav>
        <ul>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('career') }}">Career</a></li>
          <li><a href="{{ url_for('study') }}">Study</a></li>
          <li><a href="{{ url_for('skill') }}">Skill</a></li>
          <li><a href="{{ url_for('license') }}">License</a></li>
          <li><a href="{{ url_for('index') }}">Top</a></li>
        </ul>
      </nav>
    </div>

    <div class="sp-menu">
      <span class="material-icons" id="open">menu</span>
    </div>
  </header>

  <div class="overlay">
    <span class="material-icons" id="close">close</span>
    <nav>
      <ul>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('career') }}">Career</a></li>
        <li><a href="{{ url_for('study') }}">Study</a></li>
        <li><a href="{{ url_for('skill') }}">Skill</a></li>
        <li><a href="{{ url_for('license') }}">License</a></li>
        <li><a href="{{ url_for('index') }}">Top</a></li>
      </ul>
    </nav>
  </div>


  <main>
    <p>https://github.com/siryoku</p>
  </main>

  <script src="/../static/js/humburger.js"></script>
</body>
</html>
